.upload-data-form-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
  background: #dceb6d;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
  margin-top: 30px;
}

.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

input {
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 5px;
}

.submit-button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #d91c1c;
}

.title {
  margin-top: 10px;
  font-weight: 900;
  font-size: 1.8rem;
  color: #1DA1F2;
  letter-spacing: 1px;
  padding: 20px;

}

.form-group,
input {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  box-sizing: border-box;
  padding: 5px;
}

input {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.submit-button {
  color: white;
  margin-top: 20px;
  background: #1DA1F2;
  height: 40px;
  width: 100px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
}

.navigation-area {
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
}

.navigation-botton {
  color: white;
  margin-top: 20px;
  background: #1DA1F2;
  height: 40px;
  width: 200px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
  border: #ccc;
  margin-right: auto;
}

.navigation-botton:hover {
  background-color: #45a049;
}